nav ul {
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    display:inline-block;

}

nav ul li {
    display: inline-block;
    margin-left: 30px;
}

nav ul li a{
    text-decoration: none;
    display: block;
    color: black;
    transition: 0.2s;
}

nav ul li a:hover {
    transform: scale(1.5);
}